<div>
    <div class="details-container">
		<div class="details-container-first">
			<div class="details-detail location">
				<img
					class="details-icon"
					src="https://cdn-icons-png.flaticon.com/128/2838/2838912.png"
					alt="location"
				/>
				<span class="detail-text">Brīvības gatve 372, Riga LV-1006</span>
			</div>
			<div class="details-detail">
				<img
					class="details-icon"
					src="https://cdn-icons-png.flaticon.com/128/159/159832.png"
					alt="phone"
				/>
				<span class="detail-text">+371-26-691-517</span>
			</div>
		</div>
		<div class="details-container-first">
			<a href="/" class="details-detail">
				<span class="socials">follow us on socials</span>
				<img
					class="details-icon"
					src="https://cdn-icons-png.flaticon.com/128/1968/1968750.png"
					alt="social"
				/>
			</a>
		</div>
	</div>
    <nav class='navbar '>
    <div>
        <img src='https://cdn-icons-png.flaticon.com/128/4507/4507860.png' class='logo' />
    </div>
    <div class='navbar-links'>
        <a class='navbar-link' href='/'>Home</a>
        <a class='navbar-link' href='/'>Men</a>
        <a class='navbar-link' href='/'>Women</a>
        <a class='navbar-link' href='/'>Jewelery</a>
        <a class='navbar-link' href='/'>Electronics</a>
        <a class='navbar-link' href='/'>About</a>
    </div>
    <a class='cart-container' href='/'>
        <span class='cart-text'>Cart/0.0$</span>
        <img src='https://cdn-icons-png.flaticon.com/128/649/649931.png' class='cart-icon' />
    </a>
</nav>
<div class='ad-container'>
    <div class='heading-container'>
    <h2 class='heading-main'>Summer<span class='heading-sub'>Collection</span></h2>
    <span>get upto <span class='discount'>50%</span> off</span>
    <a class='shop_now' href='/'><span class='shop_now_text'>Shop Now</span></a>
    </div>
    <img src='https://wallpaperaccess.com/full/388706.jpg' alt='sub-image' class='nav-image'/>
    </div>
</div>